{% load static %}

<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Jaldi:400,700&display=swap&subset=latin-ext">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script type="text/javascript"> window.CSRF_TOKEN = '{{ csrf_token }}';</script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block title %}
        <title>Witaj u wegańskiego pająka</title>
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar fixed-top">
            <a class="navbar-brand" href="{% url 'index' %}">Wegański pająk</a>
            <ul class="nav">
                {% if user.is_authenticated %}
                    <li class="nav-item user-logged">
                        <a class="nav-link" href="{% url 'user-profile' user_id=user.id %}">{{ user.username }}</a>
                    </li>
                    <li class="nav-item user-logged">
                        <a class="nav-link" href="{% url 'user_logout' %}">Wyloguj się</a>
                    </li>
                {% else %}
                    <li class="nav-item user-not-logged">
                        <a class="nav-link" href="{% url 'new-user-create' %}">Zarejestruj się</a>
                    </li>
                    <li class="nav-item user-not-logged">
                        <a class="nav-link" href="{% url 'login' %}">Zaloguj się</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block introduction %}
            <section class="container jumbotron jumbotron-fluid align-content-center">
                <h1 class="display-4">Witaj u wegańskiego pająka</h1>
                <p class="lead">Opowiedz, co masz w lodówce, a pająk zaplecie sieć pomysłów, co możesz przygotować z podanych produktów</p>
            </section>
        {% endblock %}
        {% if user.is_authenticated %}
            <section class="own list container">
                <h2>Produkty, które posiadasz</h2>
                <ul class="own list display">
                </ul>
            </section>
        {% endif %}
        <section class="ingredient input container">
            <h2>Podaj produkty, które masz</h2>
                <div id="ingredient-search-form">
                    <select id="select2-ingredients" class="js-example-basic-multiple" name="states[]" multiple="multiple"></select>
                    <button class="ingredient add btn btn-outline-secondary">Wybierz</button>
                </div>
        </section>
        <section class="ingredient list container">
            <h2>Lista produktów</h2>
            <form class="ingredient list form">
                <ul class="ingredient list display">
                </ul>
                {% block recipe_search_button %}
                    <button class="ingredient recipe search btn btn-outline-secondary">Szukaj</button>
                {% endblock %}
                {% if user.is_authenticated %}
                    <button class="own add btn btn-outline-secondary">Dodaj do listy swoich produktów</button>
                {% endif %}
            </form>
        </section>
        {% block recipe_list %}
            <section class="recipe list container hidden">
                <h2>Lista przepisów</h2>
                <ul class="recipe list display">
                </ul>
            </section>
        {% endblock %}
    </main>
</body>
</html>