{% load static %}

<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+English|Markazi+Text:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <title>Witaj u wegańskiego pająka</title>
</head>
<body>
    <header>
        <nav class="navbar fixed-top">
            <a class="navbar-brand" href="#">Wegański pająk</a>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="">Zarejestruj się</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Zaloguj się</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="container jumbotron jumbotron-fluid align-content-center">
            <h1 class="display-4">Witaj u wegańskiego pająka</h1>
            <p class="lead">Opowiedz, co masz w lodówce, a pająk zaplecie sieć pomysłów, co możesz przygotować z podnych produktów</p>
        </section>
        <section class="ingredient input container">
            <h2>Podaj produkty, które masz</h2>
                <div id="ingredient-search-form">
                    <select id="select2-ingredients" class="js-example-basic-multiple" name="states[]" multiple="multiple"></select>
                    <button class="ingredient add">Dodaj do listy</button>
                </div>
        </section>
        <section class="ingredient list container">
            <h2>Lista produktów</h2>
            <form class="ingredient list form">
                <ul class="ingredient list display">
                </ul>
                <button class="recipe search">Szukaj</button>
            </form>
        </section>
        <section class="recipes container">
            <h2>Lista przepisów</h2>
            <ul class="recipe list display">
            </ul>
        </section>
    </main>
</body>
</html>