{% extends 'index.html' %}

{% block title %}
    <title>Profil użytkownika</title>
{% endblock %}

{% block introduction %}
    <section class="profile-data container">
        <form class="profile-data form">
            <ul>
                <li class="hidden"></li>
                <li class="row">
                    <div class="profile photo col-3">
                    </div>
                </li>
                <li class="row">
                    <div>
                        <div class="col-3">Użytkownik</div>
                        <div class="profile username col-3"></div>
                    </div>
                </li>
                <li class="row">
                    <div>
                        <div class="col-3">Adres e-mail</div>
                        <div class="profile e-mail input col-3" id="email"></div>
                    </div>
                </li>
                <li class="row">
                    <div>
                        <div class="col-3">Imię</div>
                        <div class="profile first_name input col-3" id="first_name"></div>
                    </div>
                </li>
                <li class="row">
                    <div>
                        <div class="col-3">Nazwisko</div>
                        <div class="profile last_name input col-3" id="last_name"></div>
                    </div>
                </li>
            </ul>
            <button class="profile-data edit save btn btn-outline-secondary" type="submit">Zmień dane</button>
            <button class="profile-data cancel hidden btn btn-outline-secondary">Anuluj</button>
        </form>
    </section>
{% endblock %}
{% block recipe_search_button %}
{% endblock %}
{% block recipe_list %}

{% endblock %}