{% extends 'index.html' %}

{% block title %}
    <title>Profil użytkownika</title>
{% endblock %}

{% block introduction %}
    <section class="profile-data container">
        <form class="profile-data form">
            <ul>
                <li class="hidden"></li>
                <li>
                    <div class="profile photo">
                    </div>
                </li>
                <li>
                    <span>Użytkownik</span>
                    <span class="profile username"></span>
                </li>
                <li>
                    <span>Adres e-mail</span>
                    <span class="profile e-mail input" id="email"></span>
                </li>
                <li>
                    <span>Imię</span>
                    <span class="profile first_name input" id="first_name"></span>
                </li>
                <li>
                    <span>Nazwisko</span>
                    <span class="profile last_name input" id="last_name"></span>
                </li>
            </ul>
            <button class="profile-data edit save" type="submit">Zmień dane</button>
            <button class="profile-data cancel hidden">Anuluj</button>
        </form>
    </section>
{% endblock %}
{% block recipe_search_button %}
{% endblock %}
{% block recipe_list %}

{% endblock %}