body {
    margin-top: 58px;
    font-family: 'Markazi Text', serif;
    color: hsl(69, 44%, 47%);
}

header {
    font-family: 'IM Fell English', serif;
}

nav {
    border-bottom: solid hsl(69, 44%, 47%) 1px;
}

nav a {
    color: hsl(69, 44%, 47%);
}

#ingredient-search-form {
    width: 100%;
}

#select2-ingredients {
    width: 100%;
}